name: scrape m3u
on:
  push
jobs:
  automated-scrape:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@main

      - name: run commands
        run: |
          #node ./m3u-checker.js test_input/ test_output/ --quiet
          for i in {822..1021} ; do for j in $(cat genres.txt) ; do curl -s "https://radiospinner.com/genres/$j/?sort=rating&page=$i&ajax=1" | ./htmlq -a href .category-stations a | awk '!seen[$0]++' >> A-$j.txt ; echo -e "$j - $i" ; done ; done

      - name: git stuff
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "$(od -An -tx2 -w16 -N16 /dev/urandom | cut -c2-)"
          git push
