name: test
on:
  push
jobs:
  automated-scrape:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@main

      - name: run commands
        run: |
          #node ./m3u-checker.js test_input/ test_output/ --quiet
          for i in $(cat link.txt) ; do curl -s https://librivox.org/$i/ > mep1 ; logo=$(./htmlq -a src 'body > div > div.page.book-page > div > div > img' < mep1) ; cat mep1 | ./htmlq 'tr' | awk -v logo="$logo" 'BEGIN{RS="</tr>"; FS="\n"; print "#EXTM3U"} {chapter=reader=link=duration=duration_str=""; for(i=1;i<=NF;i++){ if($i~/"chapter-name"/){match($i,/>[^<]+</,a); chapter=substr(a[0],2,length(a[0])-2); gsub(/,/, "-", chapter); gsub(/"/, "", chapter); match($i,/href="([^"]+)"/,l); link=l[1]} if($i~/reader/){match($i,/>[^<]+</,r); reader=substr(r[0],2,length(r[0])-2); gsub(/,/, "-", reader); gsub(/"/, "", reader)} if($i~/[0-9]{2}:[0-9]{2}:[0-9]{2}/){match($i,/([0-9]{2}):([0-9]{2}):([0-9]{2})/,t); duration=t[1]*3600+t[2]*60+t[3]; duration_str=sprintf("%02d:%02d:%02d", t[1], t[2], t[3])} } if(chapter&&reader&&link&&duration){ print "#EXTINF:" duration " tvg-logo=\"" logo "\"," chapter " - Read by " reader " - Duration " duration_str; print link } }' > $i.m3u ; echo $i ; done

      - name: git stuff
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "$(od -An -tx4 -w16 -N16 /dev/urandom | cut -c2- | tr '[:lower:]' '[:upper:]')"
          git push
