name: scrape m3u
on:
  push
jobs:
  automated-scrape:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@main

      - name: run commands
        run: |
          #node ./m3u-checker.js test_input/ test_output/ --quiet
          for i in {1..669} ; do curl -s 'https://librivox.org/search/get_results?primary_key=0&search_category=title&sub_category=&search_page="$i"&search_order=catalog_date&project_type=either' > $i.html ; echo $i ; done

      - name: git stuff
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "$(od -An -tx2 -w16 -N16 /dev/urandom | cut -c2-)"
          git push
