name: test
on:
  push
jobs:
  automated-scrape:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@main

      - name: run commands
        run: |
          #node ./m3u-checker.js test_input/ test_output/ --quiet
          #for file in *.m3u; do [ -e "$file" ] || continue; author=$(basename "$file" .m3u | sed 's/.*-by-//'); folder=$(echo "$author" | tr '-' '_' | awk -F'_' '{for(i=1;i<=NF;i++) $i=toupper(substr($i,1,1)) tolower(substr($i,2))}1' OFS='_'); mkdir -p "$folder"; cp "$file" "$folder/"; echo "Copied $file -> $folder/"; done
          #for i in *.m3u ; do dir=$(echo $i | cut -c 1 -) ; mkdir -p $dir ; cp $i $dir ; echo $i ; done
          npm install playwright
          npx playwright install chromium
          timeout 10m node ./genres.js

      - name: git stuff
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "$(od -An -tx4 -w16 -N16 /dev/urandom | cut -c2- | tr '[:lower:]' '[:upper:]')"
          git push
