name: test
on:
  push
jobs:
  automated-scrape:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@main

      - name: run commands
        run: |
          #node ./m3u-checker.js test_input/ test_output/ --quiet
          for i in A-*.txt ; do for j in $(cat $i) ; do curl -s https://zinmusic.com/radio/$j > mep1 ; T=$(cat mep1 | ./htmlq h1 -t | awk NF | sed 's/^[[:space:]]*//') ; S=$(cat mep1 | ./htmlq source -a src | sed 's/\;//g' | sed '/^$/d') ; echo "#EXTINF:-1,$T" >> A$i ; echo "$S" >> A$i ; echo -e "$i - $j" ; done ; done
          rm mep1

      - name: git stuff
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "$(od -An -tx4 -w16 -N16 /dev/urandom | cut -c2- | tr '[:lower:]' '[:upper:]')"
          git push
