name: scrape m3u
on:
  push
jobs:
  automated-scrape:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@main

      - name: run commands
        run: |
          #node ./m3u-checker.js test_input/ test_output/ --quiet
          for i in $(cat *.txt) ; do curl -s https://radio.streamitter.com/station/$i > mep1 ; paste -d ',' <(cat mep1 | ./htmlq -a src 'img[title]' | sed 's/\?.*$//; s|^|https://radio.streamitter.com|' | head -n 1 | awk '{ print "\"" $0 "\"" }') <(cat mep1 | ./htmlq -t h1 | head -n 1) | awk 'NR==1 {$0="#EXTINF:-1 tvg-logo=" $0} 1' | tee -a $(cat mep1 | ./htmlq -a href a | grep '/genre/' | cut -d '/' -f 3 | head -n 1).m3u $(cat mep1 | ./htmlq -a href a | grep '/location/' | cut -d '/' -f 3 | head -n 1).m3u > /dev/null ; cat mep1 | ./htmlq audio -a src | sed 's/\;//g' | sed '/^$/d' | tee -a $(cat mep1 | ./htmlq -a href a | grep '/genre/' | cut -d '/' -f 3 | head -n 1).m3u $(cat mep1 | ./htmlq -a href a | grep '/location/' | cut -d '/' -f 3 | head -n 1).m3u > /dev/null ; echo $i ; done
          rm mep1

      - name: git stuff
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "$(od -An -tx2 -w16 -N16 /dev/urandom | cut -c2-)"
          git push
